<div class="slider">
    <div class="panel panel-default slide">
        <div class="panel-heading">{{pages[innerCurrentPage-1].name}}</div>
        <div class="panel-body slider-content-wrapper">
            <div ng-include="include" class="slider-content" ng-class="animationClass"></div>
        </div>
    </div>
    <nav>
        <ul class="pagination">
            <li><a ng-click="changeState(previousPage)">&laquo;</a></li>
            <li ng-repeat="page in pages" class="{{$index + 1 == innerCurrentPage ? 'active' : ''}}" ng-click="changeState($index + 1)"><a>{{$index + 1}}</a></li>
            <li><a ng-click="changeState(nextPage)">&raquo;</a></li>
        </ul>
    </nav>
</div>