.slider {
  width: 600px;
}

.slider-container {
  margin: 5px;
}

.slider-content {
  position: relative;
  height: 100%;
}

.slider-content-wrapper {
  height: 400px;
  overflow: hidden;
}

.slider-content.slideFromRight.ng-enter, .slider-content.slideFromLeft.ng-enter,
.slider-content.slideFromRight.ng-leave, .slider-content.slideFromLeft.ng-leave
{
  -webkit-transition: .7s linear all;
  transition: .7s linear all;
}

.slider-content.slideFromRight.ng-enter {
  left: 100%;
}

.slider-content.slideFromRight.ng-enter.ng-enter-active {
  left: 0;
}

.slider-content.slideFromRight.ng-leave {
  left: 0;
}

.slider-content.slideFromRight.ng-leave.ng-leave-active {
  left: -100%;
  top: -100%;
}

.slider-content.slideFromLeft.ng-enter {
  left: -100%;
}

.slider-content.slideFromLeft.ng-enter.ng-enter-active {
  left: 0;
}

.slider-content.slideFromLeft.ng-leave {
  left: 0;
}

.slider-content.slideFromLeft.ng-leave.ng-leave-active {
  left: 100%;
  top: -100%;
}